/*Pour les écrans larges*/
/*Déclaration de styles pratique*/

.rm{
    margin: 0 !important;
}

.rp{
    padding: 0 !important;
}
.mt-40{
    margin-top: 40px;
}

.relative{
    position: relative;
}

.p20{
    padding: 0 20px;
}


.clear{
    clear: both;
}


/*-----------------*/
/*-----------------*/



body{
    background-color: rgb(0, 0, 0);
}

/*NAVBAR*/

.apple{
    background-color: rgb(30, 30, 30);
    width: auto;
    height: 79px;
    font-family: "Roboto Condensed";
    color:  #ffffff;
    font-size: 20px;
    line-height: 24px; 
    text-align: center;
}

.apple2{
    width: auto;
    height: 157px;
    background-color: rgb(20, 20, 20);
    font-family: "Roboto Condensed";
    margin: 0 auto;
}
/*----------*/

/*PROJECTEUR*/
.projecteur p{
    text-align: center;
}

.iphone{
    font-family: "Roboto Condensed" sans-serif;
    color:  #ffffff;
    font-size: 50px;
    line-height: 60px;  
}

.n7{
    font-family: "Roboto Condensed" sans-serif;
    color:  #ffffff;
    font-weight: 100;
    font-size: 60px;
    line-height: 70px; 
}

.link{
    font-family: Arial;
    color:  #66bbff;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.applestore{
font-family: Arial;
color:  #cccccc;
font-size: 17px;
font-weight: 400;
line-height: 20.4px;
}

.projecteur img{
    overflow-x: hidden;
    box-sizing: content-box;
    padding: 0;
}


.projo{
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #eeeeee 100%);
    background: -moz-linear-gradient(-90deg, #ffffff 0%, #eeeeee 100%);
    background: -o-linear-gradient(-90deg, #ffffff 0%, #eeeeee 100%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #eeeeee 100%);
    background: linear-gradient(180deg, #ffffff 0%, #eeeeee 100%);
}

aside{
    margin: 0 auto;
}

article p{
    text-align: center;
}

.ip7{
    font-family: "Roboto Condensed", sans-serif;
    color:  #303236;
    font-size: 36px;
    font-weight: 300;
    line-height: 43.2px;
}

.echange{
    font-family: Arial;
    color:  #555555;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

form {
    padding-top: 10px;
}

input {
    font-family: Arial;
    color:  #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; 
    background-color:  #eeeeee;
}

h5{
    font-family: "Roboto Condensed", sans-serif;
    color:  #ffffff;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
}

.btn{
    color: white;
    background-color: dodgerblue;
    margin: 0 auto;
}


